<a href="https://colab.research.google.com/github/Aushinraj/Python-Coding/blob/main/map%2Clamda%2Creduce%2Cfilter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Lambda Function** , **Map()** , **Filter()** & **Reduce()**

## **Lambda Function**
*Syntax :* **lambda arguments : expression**


* It can have any number of arguments ,but only one expression.
* Eg: lambda x,y: x+y
* This functioin is used as a argument in higher order function.

## **Map**
*syntax :* **map(func,iterables)**


*   map() applies a given function to all the iterables and returns a map object.
*   map() can take either lamda or user defined function as parameter.

*   Iterables can be a list,tuple

In [9]:
#User defined funcc
def new(a):
  return a*a
x=map(new,[1,2,3,4])
print(x)

<map object at 0x7fbfa7ef7e10>

In [10]:
print(list(x))

[1, 4, 9, 16]

In [11]:
#2 iterables
def new(a,b):
  return a*b
x=map(new,[1,2,3,4],[3,4,5,2])
print(tuple(x))

(3, 8, 15, 8)

In [18]:
#lambda
l=[1,2,3,4,5]
y=list((map(lambda x:x+3,l)))
print(y)

[4, 5, 6, 7, 8]

## **Filter**
*syntax :* **filter(func,iterables)**


*   filter() method filters the given sequence with the help of a function that tests each element in the sequence to be true or not.

In [19]:
def d(i):
  if i>=3:
    return i
j=tuple(filter(d,(1,2,3,4,5,6)))
print(j)

(3, 4, 5, 6)

In [20]:
z=list(filter(lambda x:(x>=3),(1,2,3,4,5,6)))
print(z)

[3, 4, 5, 6]

## **Reduce**
*syntax :* **reduce(func,iterables)**


* The reduce() applies the given function to all the iterables and finally returns a single value.

In [21]:
from functools import reduce
def g(x,y):
  return x+y
s=reduce(g,[1,3,4,5,6,7,7,7,8])
print(s)

48

In [22]:
t=reduce(lambda q,p: q*p,[1,2,3,4,5,6])
t

720

## filter() within map()

In [27]:
c=map(lambda x: x+x,filter(lambda x: (x>=4),[2,3,4,5,6]))
print(tuple(c))

(8, 10, 12)

## map() within filter()

In [29]:
v=filter(lambda x: (x>=4),map(lambda x:x+x,[2,3,4,5,6]))
print(set(v))

{4, 6, 8, 10, 12}

## map() and filter() within reduce()

In [37]:
r=reduce(lambda x,y:x+y,map(lambda x:x+x,filter(lambda x: (x<=4),(1,2,3,4,5,6,7))))
print(r)

20