<a href="https://colab.research.google.com/github/Aushinraj/Python-Coding/blob/main/python%20functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **join()** 
join() method takes all items in an iterable and joins them into one string.

In [2]:
t= ("john","Peter","Vicky")
print("#".join(t))

john#Peter#Vicky

In [3]:
t1= ("john","Peter","Vicky")
print("\n".join(t1))

john
Peter
Vicky

# **split()**
split() method splits a string into a list

**syntax :**  string.split(separator , maxsplit)

In [1]:
txt = "welcome to the jungle"
x=txt.split()
print(x)

['welcome', 'to', 'the', 'jungle']

In [3]:
p="apple#banana#cherry#orange"
x=p.split("#")
print(x)

['apple', 'banana', 'cherry', 'orange']

In [5]:
q="apple#banana#cherry#orange"
x=q.split("#",1) #setting the maxsplit parameter to 1 , will return a list with 2 elements
print(x)

['apple', 'banana#cherry#orange']